<div class="absolute bottom-0 right-0">
    <div class="w-fit flex items-center gap-x-2 text-base antialiased bg-black rounded-tl py-4 px-6">
        <div class="font-semibold tracking-wide uppercase">1999 Porsche 911</div>
        <div class="text-neutral-500">//</div>
        <div class="text-neutral-300">Raspberry Glasurit More Paint Lingo</div>
    </div>
</div>