<div class="absolute bottom-0 right-0">
    <div
        class="w-fit flex flex-col text-right antialiased bg-black rounded-tl py-4 px-6"
    >
        <div
            class="font-semibold tracking-wide uppercase text-base line-clamp-1"
        >
            1999 Porsche 911
        </div>
        <div class="text-neutral-300 text-sm line-clamp-1">
            Raspberry Glasurit More Paint Lingo
        </div>
    </div>
</div>
