@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "./buttons";
@import "./forms";
@import "./typography";

body {
    font-family: var(--font-manrope);
    @apply tracking-wide
}

.navbar {
    @apply duration-300 transition-all ease-in-out bg-neutral-500/40;
}
.is-pinned { 
    @apply bg-neutral-500/20 transition-all duration-300 backdrop-blur-xl border-neutral-500 ease-in-out;
}