@import "tailwindcss";
@import "./typography";

@theme inline {
    --font-heading: var(--font-heading), "sans-serif";

    @keyframes pulse {
        0%, 100% {
            background-color: pink;
        }
        50% {
            background-color: blue;
        }
    }
}

.navbar {
    @apply duration-300 transition-all ease-in-out;
}
.is-pinned { 
    @apply bg-neutral-500/20 transition-all duration-300 backdrop-blur-xl border-neutral-500 ease-in-out;
}
.swiper-slide {
    @apply border-b-4 border-transparent transition-all duration-300;
}
.swiper-slide-thumb-active {
	@apply border-b-4 rounded-b border-emerald-700 transition-all duration-300;
}