---
import MainLayout from "@/layouts/MainLayout";
import "swiper/css";

import Caption from "@/components/images/Caption";
import Container from "@/components/content/Container";
import PaintSprayer from "@/components/icons/PaintSprayer";
import Section from "@/components/content/Section";
---

<MainLayout>
	<Section>
		<Container>
			<div class="space-y-12">
				<h1>
					Keith<br />
					Paints<br />
					Porsches
				</h1>

				<hr class="max-w-16" />

				<div class="flex space-y-4 max-w-6xl gap-8">
					<div class="w-156 space-y-4">
						<div class="text-5xl font-bold tracking-tighter">
							Hey there! 👋 I'm Keith.
						</div>

						<div class="text-lg lg:text-xl text-stone-200">
							I'm an independent Porsche painter operating outside
							of Austin, TX dedicated to delivering
							concours-quality finishes that preserve the
							aesthetic and financial value of your vehicle.
						</div>

						<a
							href="/contact/"
							class="font-semibold hover:underline text-xl"
							>Let's Work Together &#10141;</a
						>
					</div>
				</div>
			</div>
		</Container>

		<img
			src="https://imgix.cosmicjs.com/f06bc7a0-ca38-11f0-9c76-997eeae9b341-keith-young-005.jpg"
			class="w-full h-full object-cover"
		/>

		<Container>
			<div class="flex flex-col lg:flex-row gap-8 lg:gap-20">
				<div class="flex flex-col justify-between gap-8 lg:gap-0">
					<h2 class="text-balance">Porsche Restoration Services</h2>
					<a
						href="/contact/"
						class="w-fit button-primary button text-base"
						>Contact Me!</a
					>
				</div>

				<div>
					<div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
						{
							[...Array(4)].map((_, index) => {
								return (
									<div class="space-y-3">
										<h3 class="h5 text-balance">
											Full Restoration &amp; Repaint
										</h3>

										<div class="text-stone-200 text-base lg:text-lg">
											Complete repainting of damaged or
											scratched body panels (e.g., bumper,
											door, fender) using factory-approved
											techniques to ensure a seamless
											blend and perfect color match with
											the rest of the vehicle.
										</div>
									</div>
								);
							})
						}
					</div>
				</div>
			</div>
		</Container>

		<div class="space-y-16">
			<Container>
				<div>
					<h2>Finished Restorations</h2>
				</div>
			</Container>

			<Container size="large">
				<div class="grid grid-cols-12 gap-6">
					<div class="col-span-12 relative">
						<img
							src="https://imgix.cosmicjs.com/02000da0-4555-11f0-a5a4-3f778801f7fa-composite02.jpg"
							class="rounded"
						/>

						<Caption />
					</div>
					<div class="col-span-12 lg:col-span-6 relative">
						<img
							src="https://imgix.cosmicjs.com/df3b3d80-45a4-11f0-b482-850637e71c1a-silver-porsche-911_002.jpg"
							class="rounded"
						/>

						<Caption />
					</div>
					<div class="col-span-12 lg:col-span-6 relative">
						<img
							src="https://imgix.cosmicjs.com/de29f490-45a4-11f0-b482-850637e71c1a-2024-06-06-italian-911s_007.jpg"
							class="rounded"
						/>

						<Caption />
					</div>
					<div class="col-span-12 lg:col-span-8 relative">
						<img
							src="https://imgix.cosmicjs.com/d85bdc50-45a3-11f0-b482-850637e71c1a-turbo_025.jpg"
							class="rounded"
						/>

						<Caption />
					</div>
					<div class="col-span-12 lg:col-span-4 relative">
						<img
							src="https://imgix.cosmicjs.com/7b6783e0-45a4-11f0-b482-850637e71c1a-yellow-911s-targa_050.jpg"
							class="rounded w-full h-full object-cover"
						/>

						<Caption />
					</div>
				</div>
			</Container>
		</div>
	</Section>
</MainLayout>
