---
import MainLayout from "@/layouts/MainLayout"

import Container from "@/components/content/Container"
import Section from "@/components/content/Section"
---

<MainLayout>
    <div class="relative">
        <div class="absolute -top-100 left-0 size-300 rounded-full bg-radial from-pink-500/20 from-40% to-pink-500/10 -z-50 blur-3xl" />
        <div class="absolute top-25 right-0 size-300 rounded-full bg-radial from-sky-500/20 from-40% to-sky-500/10 -z-50 blur-3xl" />
        <div class="absolute -top-100 right-0 size-300 rounded-full bg-radial from-emerald-500/20 from-40% to-emerald-500/10 -z-50 blur-3xl" />
        
        <Section>
            <Container>
                <div class="mt-48 mb-12">
                    <div class="space-y-16">
                        <h1>
                            Keith<br />
                            Paints</br />
                            Porsches
                        </h1>
                    </div>
                </div>
            </Container>

            <Container size="large">
                <div class="relative flex justify-end items-end">
                    <img src="https://imgix.cosmicjs.com/02000da0-4555-11f0-a5a4-3f778801f7fa-composite02.jpg" class="rounded" />
                    
                    <div class="absolute">
                            <div class="flex items-center not-odd:mt-3 gap-x-2 text-base antialiased bg-black rounded-t py-4 px-6">
                                <div class="font-semibold tracking-wide uppercase">1999 Porsche 911</div>
                                <div class="text-neutral-500">//</div>
                                <div class="text-neutral-300">Raspberry Glasurit More Paint Lingo</div>
                            </div>
                    </div>
                </div>
            </Container>

            <Container>
                <div class="mb-32">
                    <h2>Hey there, I'm Keith.</h2>
                    <p class="text-3xl w-1/2">I'm a painter living in Austin, TX painting the world's best Porsches. I only shoot with Glasurit, don't bother asking for anything else.</p>
                </div>
            </Container>
        </Section>
    </div>
</MainLayout>
