---
import MainLayout from "@/layouts/MainLayout";
import "swiper/css";

import Caption from "@/components/images/Caption";
import Container from "@/components/content/Container";
import PaintSprayer from "@/components/icons/PaintSprayer";
import Section from "@/components/content/Section";
---

<MainLayout>
	<Section>
		<Container>
			<div class="space-y-16">
				<h1>
					Keith<br />
					Paints<br />
					Porsches
				</h1>
			</div>
		</Container>

		<Container size="large">
			<div class="mb-6">
				<div class="swiper swiper-image">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img
								src="https://imgix.cosmicjs.com/02000da0-4555-11f0-a5a4-3f778801f7fa-composite02.jpg"
								class="rounded"
							/>

							<Caption />
						</div>
						<div class="swiper-slide">
							<img
								src="https://imgix.cosmicjs.com/df3b3d80-45a4-11f0-b482-850637e71c1a-silver-porsche-911_002.jpg"
								class="rounded"
							/>

							<Caption />
						</div>
						<div class="swiper-slide">
							<img
								src="https://imgix.cosmicjs.com/de29f490-45a4-11f0-b482-850637e71c1a-2024-06-06-italian-911s_007.jpg"
								class="rounded"
							/>

							<Caption />
						</div>
						<div class="swiper-slide">
							<img
								src="https://imgix.cosmicjs.com/d85bdc50-45a3-11f0-b482-850637e71c1a-turbo_025.jpg"
								class="rounded"
							/>

							<Caption />
						</div>
						<div class="swiper-slide">
							<img
								src="https://imgix.cosmicjs.com/7b6783e0-45a4-11f0-b482-850637e71c1a-yellow-911s-targa_050.jpg"
								class="rounded"
							/>

							<Caption />
						</div>
					</div>
				</div>
			</div>

			<div class="swiper swiper-thumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide hover:cursor-pointer">
						<img
							src="https://imgix.cosmicjs.com/02000da0-4555-11f0-a5a4-3f778801f7fa-composite02.jpg"
							class="rounded-t"
						/>
					</div>
					<div class="swiper-slide">
						<img
							src="https://imgix.cosmicjs.com/df3b3d80-45a4-11f0-b482-850637e71c1a-silver-porsche-911_002.jpg"
							class="rounded-t"
						/>
					</div>
					<div class="swiper-slide">
						<img
							src="https://imgix.cosmicjs.com/de29f490-45a4-11f0-b482-850637e71c1a-2024-06-06-italian-911s_007.jpg"
							class="rounded-t"
						/>
					</div>
					<div class="swiper-slide">
						<img
							src="https://imgix.cosmicjs.com/d85bdc50-45a3-11f0-b482-850637e71c1a-turbo_025.jpg"
							class="rounded-t"
						/>
					</div>
					<div class="swiper-slide">
						<img
							src="https://imgix.cosmicjs.com/7b6783e0-45a4-11f0-b482-850637e71c1a-yellow-911s-targa_050.jpg"
							class="rounded-t"
						/>
					</div>
				</div>
			</div>

			<div class="flex justify-center items-center mt-12 gap-x-9">
				<PaintSprayer classes="swiper-button-prev" />
				<div class="swiper-pagination text-lg font-medium uppercase" />
				<PaintSprayer classes="swiper-button-next" flip={true} />
			</div>
		</Container>
	</Section>
</MainLayout>

<script>
	import Swiper from "swiper/bundle";

	const swiperThumbs = new Swiper(".swiper-thumbs", {
		loop: true,
		spaceBetween: 25,
		slidesPerView: 4,
		freeMode: true,
		watchSlidesProgress: true,
	});
	const swiperImage = new Swiper(".swiper-image", {
		autoplay: {
			delay: 2500,
			disableOnInteraction: true,
		},
		loop: true,
		spaceBetween: 0,
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		thumbs: {
			swiper: swiperThumbs,
		},
		pagination: {
			el: ".swiper-pagination",
			type: "custom",
			renderCustom: function (swiper, current, total) {
				return current + " of " + total;
			},
		},
	});
</script>
