---
import LogoSlash from "@/components/LogoSlash";

// props
export interface Props {
    logoWidth?: string;
    textSize?: string;
}
const { logoWidth = "w-8", textSize = "text-xl" } = Astro.props;
---

<a href="/" class="w-fit flex items-center gap-1 pl-6 sm:pl-0">
    <LogoSlash classes={logoWidth} />

    <div class:list={["font-semibold font-heading antialiased", textSize]}>
        KPP
    </div>
</a>
