---
import "/src/assets/css/_global.css";

import { Font } from "astro:assets";
import ContactForm from "@/components/ContactForm";
import Container from "@/components/content/Container";
import Footer from "@/components/content/Footer";
import Logo from "@/components/LogoSlash";
import MainNavigation from "@/components/content/navigation/MainNavigation";
import Section from "@/components/content/Section";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<Font cssVariable="--font-heading" preload />
	</head>

	<body class="bg-black text-white">
		<div class="relative">
			<div
				class="absolute -top-100 left-0 size-300 rounded-full bg-radial from-pink-500/20 from-40% to-pink-500/10 -z-50 blur-3xl"
			>
			</div>
			<div
				class="absolute top-25 right-0 size-300 rounded-full bg-radial from-sky-500/20 from-40% to-sky-500/10 -z-50 blur-3xl"
			>
			</div>
			<div
				class="absolute -top-100 right-0 size-300 rounded-full bg-radial from-emerald-500/20 from-40% to-emerald-500/10 -z-50 blur-3xl"
			>
			</div>

			<Section>
				<div
					class="navbar sticky w-full h-auto top-[-1px] z-50 border-b border-neutral-500"
				>
					<Container>
						<div class="flex justify-between items-center">
							<div class="flex items-center gap-1">
								<Logo classes="w-8" />
								<div
									class="font-semibold text-xl font-heading antialiased"
								>
									KPP
								</div>
							</div>

							<MainNavigation />
						</div>
					</Container>
				</div>

				<slot />

				<ContactForm />
				<Footer />
			</Section>

			<script is:inline>
				const el = document.querySelector(".navbar");
				const observer = new IntersectionObserver(
					([e]) =>
						e.target.classList.toggle(
							"is-pinned",
							e.intersectionRatio < 1,
						),
					{ threshold: [1] },
				);

				observer.observe(el);
			</script>
		</div>
	</body>
</html>
