---
import "/src/assets/css/_global.css";

import { Font } from 'astro:assets';
import Container from "@/components/content/Container";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<Font cssVariable='--font-heading' preload />
	</head>

	<body class="bg-black text-white p-6">
		<div class="grid grid-cols-2">
			<div class="h4">KPP</div>
			<h1>
				Keith<br />
				Paints</br />
				Porsches
			</h1>
		</div>

		<slot />
	</body>
</html>