<div
    class="font-semibold font-heading text-xl uppercase tracking-tight text-white antialiased"
>
    <a
        href="/contact/"
        class="font-black block bg-sky-600 hover:bg-sky-500 py-4 px-4 transition-all duration-400"
    >
        Contact Me
    </a>
</div>
